@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1B1B1B;
  color: #D8D3CC;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}